main{
    display: inline-flex;
}

.card{
    text-align: center;
    padding: 3vh;
    background-color:rgb(176, 176, 251);
}

article img{
    width: 40%;
}

.cardtitle{
    font-size: 5em;
}

.legend{
    font-size: 3em;
}