main{
    display: block;
}

.cardtitle{
    font-size: 5em;
}

.cardtext p{
    font-size: 2em;
}

.card {
    position: relative;
    text-align: center;
    padding: 3vh;
    border-color: black;
    display: block;
    margin-bottom: 1em;
}

.emergencycard::before {
    background-image: url(../images/emergenciamaisbranco.jpg);
}

.fixedincomecard::before {
    background-image: url(../images/rendafixamaisbranco.jpg);
}

.variableincomecard::before {
    background-image: url(../images/rendavariavelmaisbranco.jpg);
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    opacity: 0.5; /* Ajuste a opacidade conforme necessário */
    z-index: 0; /* Para garantir que o conteúdo do card fique acima da pseudo-classe */
}

.card .cardtitle,
.card .cardtext {
    position: relative; /* Para garantir que o texto fique acima da pseudo-classe */
    z-index: 1;
    color: black; /* Ajuste a cor do texto conforme necessário para garantir legibilidade */
}

.extra{
    background-color:rgb(218, 218, 252);
    width: 100%;
    align-items: center;
    display: flex;
}

.map{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 1em;
    width: 50%;
}

.map iframe {
    flex: 2;
}

.map .address {
    flex: 1;
    font-size: 2em;
    text-align: justify;
}