article {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    padding: 3em;
    margin: 0;
}

.image{
    width: 50%;
}

.image img{
    width: 90%;
    height: auto;
    border-radius: 10%;
}

.text{
    width: 100%;
    margin-right: 5em;
    text-align: center;
}

p{
    font-size: 2em;
}

.form {
    margin-top: 5em;
    display: block;
    text-align: center;
}


